<div class="sign-up-backgroung-img">
  <div class="container">
    <div class="row justify-content-center">
      <%= form_with(scope: :session, url: user_session, local: true) do |f| %>
        <div class="card pt-3 log-in-card shadow-lg rounded ">
          <h1 class="text-white text-center font-weight-bolder">Log in</h1>
          <div class="card-body user-field-padding">
            <h3 class="card-title text-white text-center mb-3">Enter Your User Name</h3>
            <div class="field d-flex justify-content-center ">
              <%= fa_icon "user", class: "text-white btn user-logo" %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "user-name-field", placeholder: "Username"  %>
            </div>
            <div class='d-flex justify-content-center'>
              <%= f.submit "Log in", class: 'btn btn-sign-in text-white' %>
            </div>
            <div>
              <p class="text-white text-center mt-2">Are you new to Dev-Blog? 
                <strong><%= link_to 'Register here', new_user_registration_path, class: "register-here" %></strong>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
