<div class="articles">
  <% @category_articles.each do |article| %>
    <div class= 'article'>
        <div>
          <%= image_tag(article.image.url, class: 'article-img element') %>
        </div>
        <div class="card-body">
          <h5 id= 'current'><%= @category.name %></h5>
          <h5 class="card-text font-weight bold"><%= article.title %></h5>
          <p class="card-text"><%= truncate(article.text, length: 75) %></p>
        
          <p>
          <%= link_to 'Read more', article_path(article), id: 'current' %>
          </p>
        </div>
    </div>
  <% end %>
</div>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
