<div class="articles">
  <% @category_articles.each do |article| %>
    <%= link_to article_path(article), class: 'article' do %>
          <div>
            <%= image_tag(article.image.url, class: 'article-img element') %>
          </div>
          <div class="card-body">
            <h5 class='category-name font-weight-bolder'><%= @category.name %></h5>
            <h5 class="card-text font-weight bold"><%= truncate(article.title, length: 55) %></h5>
            <p class="card-text"><%= truncate(article.text, length: 315) %></p>
            <%= pluralize(article.votes_count, 'Vote') %> 
            <%= fa_icon "thumbs-up" %>
            <p>
            </p>
          </div>
    <% end %>
  <% end %>
</div>