<!DOCTYPE html>
<html>
  <head>
    <title>DevBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/messages'%>
    <div class="container-fluid p-0">
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
